<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>489</office-code>
    <office-name>ROCK ISLAND IL</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2></address-2>
    <address-3>2350 4TH AVE</address-3>
    <city>ROCK ISLAND</city>
    <state>IL</state>
    <zip-code>61201</zip-code>
    <phone>(866) 414-9166</phone>
    <fax>(833) 950-2506</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>9924</socket-port>
    <local-input-path>source-code/ssa/il/rockisland/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/il/rockisland</output-dir>
</signal-processing-config>