<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>303</office-code>
    <office-name>SUFFOLK VA</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2></address-2>
    <address-3>502 HILLPOINT BLVD</address-3>
    <city>SUFFOLK</city>
    <state>VA</state>
    <zip-code>23434</zip-code>
    <phone>(866) 835-7769</phone>
    <fax>(833) 950-2602</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>9753</socket-port>
    <local-input-path>source-code/ssa/va/suffolk/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/va/suffolk</output-dir>
</signal-processing-config>