<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>A56</office-code>
    <office-name>LITCHFIELD IL</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2></address-2>
    <address-3>1107 W FERDON</address-3>
    <city>LITCHFIELD</city>
    <state>IL</state>
    <zip-code>62056</zip-code>
    <phone>(877) 319-3077</phone>
    <fax>(833) 950-3057</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>9238</socket-port>
    <local-input-path>source-code/ssa/il/litchfield/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/il/litchfield</output-dir>
</signal-processing-config>