[Desktop Entry]
Type=Application
Name=XmcDesktopProbe (ASYSMA)
Comment=Run the compiled ASYSMA application
Icon=xmc-asysma
Exec=/home/mearvk/IdeaProjects/Ubuntu.Determinant.Alpha.Restricted/tools/xmc/xmc-asysma-launcher.sh %U
Terminal=false
MimeType=application/x-asysma;
Categories=Development;
StartupNotify=true
