<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>399</office-code>
    <office-name>HAMILTON OH</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2></address-2>
    <address-3>6553 WINFORD AVENUE</address-3>
    <city>HAMILTON</city>
    <state>OH</state>
    <zip-code>45011</zip-code>
    <phone>(888) 862-3585</phone>
    <fax>(833) 950-3415</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>9840</socket-port>
    <local-input-path>source-code/ssa/oh/hamilton/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/oh/hamilton</output-dir>
</signal-processing-config>