<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>521</office-code>
    <office-name>EFFINGHAM IL</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2>SUITE 2</address-2>
    <address-3>1207 NETWORK CENTRE DR</address-3>
    <city>EFFINGHAM</city>
    <state>IL</state>
    <zip-code>62401</zip-code>
    <phone>(855) 213-5288</phone>
    <fax>(833) 950-3449</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>9955</socket-port>
    <local-input-path>source-code/ssa/il/effingham/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/il/effingham</output-dir>
</signal-processing-config>