<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>B19</office-code>
    <office-name>MCMINNVILLE TN</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2></address-2>
    <address-3>900 SPARTA ST</address-3>
    <city>MCMINNVILLE</city>
    <state>TN</state>
    <zip-code>37110</zip-code>
    <phone>(877) 616-2515</phone>
    <fax>(833) 950-3133</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>9289</socket-port>
    <local-input-path>source-code/ssa/tn/mcminnville/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/tn/mcminnville</output-dir>
</signal-processing-config>