<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>552</office-code>
    <office-name>LANCASTER WI</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2></address-2>
    <address-3>175 W ALONA LN</address-3>
    <city>LANCASTER</city>
    <state>WI</state>
    <zip-code>53813</zip-code>
    <phone>(877) 405-7841</phone>
    <fax>(833) 597-0056</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>9981</socket-port>
    <local-input-path>source-code/ssa/wi/lancaster/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/wi/lancaster</output-dir>
</signal-processing-config>