<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>656</office-code>
    <office-name>TAMPA FL</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2></address-2>
    <address-3>7012 W HILLSBOROUGH AVE</address-3>
    <city>TAMPA</city>
    <state>FL</state>
    <zip-code>33634</zip-code>
    <phone>(866) 331-2317</phone>
    <fax>(833) 579-0465</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>10075</socket-port>
    <local-input-path>source-code/ssa/fl/tampa/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/fl/tampa</output-dir>
</signal-processing-config>