<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>92</office-code>
    <office-name>LITTLETON CO</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2></address-2>
    <address-3>8000 SOUTHPARK LN</address-3>
    <city>LITTLETON</city>
    <state>CO</state>
    <zip-code>80120</zip-code>
    <phone>(888) 824-4384</phone>
    <fax>(833) 950-3535</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>9563</socket-port>
    <local-input-path>source-code/ssa/co/littleton/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/co/littleton</output-dir>
</signal-processing-config>