<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>269</office-code>
    <office-name>LAKE MARY FL</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2>101 COMMERCE ST</address-2>
    <address-3>SUITE 2001</address-3>
    <city>LAKE MARY</city>
    <state>FL</state>
    <zip-code>32746</zip-code>
    <phone>(866) 964-7379</phone>
    <fax>(833) 873-4341</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>9719</socket-port>
    <local-input-path>source-code/ssa/fl/lakemary/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/fl/lakemary</output-dir>
</signal-processing-config>