<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>619</office-code>
    <office-name>KENNESAW GA</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2>SUITE 250</address-2>
    <address-3>200 CHASTAIN CENTER BLVD</address-3>
    <city>KENNESAW</city>
    <state>GA</state>
    <zip-code>30144</zip-code>
    <phone>(866) 964-4690</phone>
    <fax>(833) 950-3161</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>10042</socket-port>
    <local-input-path>source-code/ssa/ga/kennesaw/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/ga/kennesaw</output-dir>
</signal-processing-config>