<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>691</office-code>
    <office-name>DAVENPORT IA</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2></address-2>
    <address-3>4319 N BRADY ST</address-3>
    <city>DAVENPORT</city>
    <state>IA</state>
    <zip-code>52806</zip-code>
    <phone>(855) 420-8556</phone>
    <fax>(833) 950-3569</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>10105</socket-port>
    <local-input-path>source-code/ssa/ia/davenport/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/ia/davenport</output-dir>
</signal-processing-config>