<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>123</office-code>
    <office-name>OSWEGO NY</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2></address-2>
    <address-3>17 FOURTH AVE</address-3>
    <city>OSWEGO</city>
    <state>NY</state>
    <zip-code>13126</zip-code>
    <phone>(866) 964-7593</phone>
    <fax>(833) 902-2538</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>9594</socket-port>
    <local-input-path>source-code/ssa/ny/oswego/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/ny/oswego</output-dir>
</signal-processing-config>