<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>485</office-code>
    <office-name>CHICAGO LOOP IL</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2></address-2>
    <address-3>605 W WASHINGTON BLVD</address-3>
    <city>CHICAGO</city>
    <state>IL</state>
    <zip-code>60661</zip-code>
    <phone>(866) 739-4765</phone>
    <fax>(833) 787-1783</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>9920</socket-port>
    <local-input-path>source-code/ssa/il/chicago002/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/il/chicago002</output-dir>
</signal-processing-config>