<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>E64</office-code>
    <office-name>DALLAS PLEASANT GROVE</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2></address-2>
    <address-3>2300 DUNSON DR</address-3>
    <city>BALCH SPRINGS</city>
    <state>TX</state>
    <zip-code>75180</zip-code>
    <phone>(855) 531-1683</phone>
    <fax>(833) 950-2387</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>9472</socket-port>
    <local-input-path>source-code/ssa/tx/balchsprings/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/tx/balchsprings</output-dir>
</signal-processing-config>