<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>935</office-code>
    <office-name>SALEM OR</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2>STE 110</address-2>
    <address-3>1750 MCGILCHRIST ST SE</address-3>
    <city>SALEM</city>
    <state>OR</state>
    <zip-code>97302</zip-code>
    <phone>(866) 593-1559</phone>
    <fax>(833) 950-2914</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>10317</socket-port>
    <local-input-path>source-code/ssa/or/salem/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/or/salem</output-dir>
</signal-processing-config>