<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>288</office-code>
    <office-name>BRISTOL VA</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2></address-2>
    <address-3>3280 LEE HIGHWAY</address-3>
    <city>BRISTOL</city>
    <state>VA</state>
    <zip-code>24202</zip-code>
    <phone>(866) 504-5013</phone>
    <fax>(833) 950-2282</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>9738</socket-port>
    <local-input-path>source-code/ssa/va/bristol/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/va/bristol</output-dir>
</signal-processing-config>