<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>C58</office-code>
    <office-name>WATERTOWN SD</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2></address-2>
    <address-3>514 JENSON AVE SE</address-3>
    <city>WATERTOWN</city>
    <state>SD</state>
    <zip-code>57201</zip-code>
    <phone>(888) 737-1763</phone>
    <fax>(833) 950-2896</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>9372</socket-port>
    <local-input-path>source-code/ssa/sd/watertown/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/sd/watertown</output-dir>
</signal-processing-config>