<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>B55</office-code>
    <office-name>LAS VEGAS NM</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2></address-2>
    <address-3>2520 RIDGE RUNNER RD</address-3>
    <city>LAS VEGAS</city>
    <state>NM</state>
    <zip-code>87701</zip-code>
    <phone>(866) 635-0856</phone>
    <fax>(833) 939-2008</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>9316</socket-port>
    <local-input-path>source-code/ssa/nm/lasvegas/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/nm/lasvegas</output-dir>
</signal-processing-config>