<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-name>Charlotte Processing &amp; Distribution Center</office-name>
    <office-type>USPS</office-type>
    <city>Charlotte</city>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>9000</socket-port>
    <local-input-path>source-code/postal/charlotte/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/postal/charlotte</output-dir>
</signal-processing-config>
