<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>488</office-code>
    <office-name>SPRINGFIELD IL</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2></address-2>
    <address-3>3112 CONSTITUTION DR</address-3>
    <city>SPRINGFIELD</city>
    <state>IL</state>
    <zip-code>62704</zip-code>
    <phone>(877) 279-9504</phone>
    <fax>(833) 950-2504</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>9923</socket-port>
    <local-input-path>source-code/ssa/il/springfield/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/il/springfield</output-dir>
</signal-processing-config>