<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>567</office-code>
    <office-name>KNOXVILLE TN</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2></address-2>
    <address-3>9031 CROSS PARK DR</address-3>
    <city>KNOXVILLE</city>
    <state>TN</state>
    <zip-code>37923</zip-code>
    <phone>(866) 331-9091</phone>
    <fax>(833) 597-0084</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>9991</socket-port>
    <local-input-path>source-code/ssa/tn/knoxville/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/tn/knoxville</output-dir>
</signal-processing-config>