<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>252</office-code>
    <office-name>SF CHINATOWN CA</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2></address-2>
    <address-3>560 KEARNY STREET</address-3>
    <city>SAN FRANCISCO</city>
    <state>CA</state>
    <zip-code>94108</zip-code>
    <phone>(877) 319-3070</phone>
    <fax>(833) 950-3039</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>9707</socket-port>
    <local-input-path>source-code/ssa/ca/sanfrancisco/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/ca/sanfrancisco</output-dir>
</signal-processing-config>