<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>129</office-code>
    <office-name>WATERTOWN NY</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2></address-2>
    <address-3>156 BELLEW AVE SOUTH</address-3>
    <city>WATERTOWN</city>
    <state>NY</state>
    <zip-code>13601</zip-code>
    <phone>(866) 627-6995</phone>
    <fax>(833) 926-1866</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>9599</socket-port>
    <local-input-path>source-code/ssa/ny/watertown/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/ny/watertown</output-dir>
</signal-processing-config>