<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>226</office-code>
    <office-name>WASHINGTON PA</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2>SUITE 515</address-2>
    <address-3>95 W BEAU ST</address-3>
    <city>WASHINGTON</city>
    <state>PA</state>
    <zip-code>15301</zip-code>
    <phone>(855) 829-8917</phone>
    <fax>(833) 461-0034</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>9683</socket-port>
    <local-input-path>source-code/ssa/pa/washington/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/pa/washington</output-dir>
</signal-processing-config>