<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>512</office-code>
    <office-name>ALTON IL</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2>ROOM 103 FEDERAL BLDG</address-2>
    <address-3>501 BELLE ST</address-3>
    <city>ALTON</city>
    <state>IL</state>
    <zip-code>62002</zip-code>
    <phone>(855) 285-6006</phone>
    <fax>(833) 950-3115</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>9946</socket-port>
    <local-input-path>source-code/ssa/il/alton/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/il/alton</output-dir>
</signal-processing-config>