<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>626</office-code>
    <office-name>GADSDEN AL</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2></address-2>
    <address-3>204 ENTERPRISE DRIVE</address-3>
    <city>GADSDEN</city>
    <state>AL</state>
    <zip-code>35904</zip-code>
    <phone>(877) 316-4418</phone>
    <fax>(833) 950-3175</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>10049</socket-port>
    <local-input-path>source-code/ssa/al/gadsden/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/al/gadsden</output-dir>
</signal-processing-config>