<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>444</office-code>
    <office-name>OWENSBORO KY</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2></address-2>
    <address-3>4532 LUCKY STRIKE LOOP</address-3>
    <city>OWENSBORO</city>
    <state>KY</state>
    <zip-code>42303</zip-code>
    <phone>(866) 836-5834</phone>
    <fax>(833) 950-3479</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>9881</socket-port>
    <local-input-path>source-code/ssa/ky/owensboro/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/ky/owensboro</output-dir>
</signal-processing-config>