<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>A80</office-code>
    <office-name>BURBANK CA</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2></address-2>
    <address-3>1420 W OLIVE AVE</address-3>
    <city>BURBANK</city>
    <state>CA</state>
    <zip-code>91506</zip-code>
    <phone>(888) 748-7699</phone>
    <fax>(833) 950-3369</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>9260</socket-port>
    <local-input-path>source-code/ssa/ca/burbank/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/ca/burbank</output-dir>
</signal-processing-config>