<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>74</office-code>
    <office-name>PAWTUCKET RI</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2></address-2>
    <address-3>4 PLEASANT ST</address-3>
    <city>PAWTUCKET</city>
    <state>RI</state>
    <zip-code>2860</zip-code>
    <phone>(866) 931-7079</phone>
    <fax>(833) 950-2350</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>9550</socket-port>
    <local-input-path>source-code/ssa/ri/pawtucket/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/ri/pawtucket</output-dir>
</signal-processing-config>