<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>336</office-code>
    <office-name>ELIZABETH CITY NC</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2></address-2>
    <address-3>1865 W CITY DR</address-3>
    <city>ELIZABETH CITY</city>
    <state>NC</state>
    <zip-code>27909</zip-code>
    <phone>(866) 572-2819</phone>
    <fax>(833) 950-2846</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>9784</socket-port>
    <local-input-path>source-code/ssa/nc/elizabethcity/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/nc/elizabethcity</output-dir>
</signal-processing-config>