target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Credentials ###
configuration/.my.cnf
libjfxwebkit.so

### Large files (>50MB) ###
jars/java-fx/javafx-sdk-26.0.1/bin/jfxwebkit.dll
jars/java-fx/javafx-jdk.zip

### Downloaded JARs (re-fetch via install/download-jars.sh) ###
lib/
