<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>756</office-code>
    <office-name>FORT SMITH AR</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2></address-2>
    <address-3>6801 DALLAS STREET</address-3>
    <city>FT SMITH</city>
    <state>AR</state>
    <zip-code>72903</zip-code>
    <phone>(866) 931-8374</phone>
    <fax>(833) 950-2698</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>10154</socket-port>
    <local-input-path>source-code/ssa/ar/ftsmith/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/ar/ftsmith</output-dir>
</signal-processing-config>