<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>574</office-code>
    <office-name>CLARKSVILLE TN</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2></address-2>
    <address-3>119 CENTER POINTE DR</address-3>
    <city>CLARKSVILLE</city>
    <state>TN</state>
    <zip-code>37040</zip-code>
    <phone>(877) 531-4695</phone>
    <fax>(833) 597-0134</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>9998</socket-port>
    <local-input-path>source-code/ssa/tn/clarksville/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/tn/clarksville</output-dir>
</signal-processing-config>