<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>B08</office-code>
    <office-name>LAWRENCEBURG TN</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2></address-2>
    <address-3>109 E TAYLOR STREET</address-3>
    <city>LAWRENCEBURG</city>
    <state>TN</state>
    <zip-code>38464</zip-code>
    <phone>(877) 405-5866</phone>
    <fax>(833) 950-2830</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>9280</socket-port>
    <local-input-path>source-code/ssa/tn/lawrenceburg/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/tn/lawrenceburg</output-dir>
</signal-processing-config>