<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>981</office-code>
    <office-name>POMONA VALLEY CA</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2></address-2>
    <address-3>2130 N GAREY AVE</address-3>
    <city>POMONA</city>
    <state>CA</state>
    <zip-code>91767</zip-code>
    <phone>(888) 808-5486</phone>
    <fax>(833) 950-2456</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>10362</socket-port>
    <local-input-path>source-code/ssa/ca/pomona/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/ca/pomona</output-dir>
</signal-processing-config>