<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <museum-name>Harvey B. Gantt Center for African American Arts + Culture</museum-name>
    <city>Charlotte</city>
    <type>Art Museum</type>
    <notes>African American art, culture, and history</notes>
    <installer-tax-id>MEARVK-LLC-2026</installer-tax-id>
    <brand>Brarner.M.Alete</brand>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>18404</socket-port>
    <local-input-path>source-code/art/harveybganttcenterforafricanamericanarts/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/BrarnerScience</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/art/harveybganttcenterforafricanamericanarts</output-dir>
</signal-processing-config>