<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>E29</office-code>
    <office-name>WEST SACRAMENTO CA</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2>STE 1000</address-2>
    <address-3>825 RIVERSIDE PARKWAY</address-3>
    <city>WEST SACRAMENTO</city>
    <state>CA</state>
    <zip-code>95605</zip-code>
    <phone>(866) 726-8136</phone>
    <fax>(833) 940-1985</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>9461</socket-port>
    <local-input-path>source-code/ssa/ca/westsacramento/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/ca/westsacramento</output-dir>
</signal-processing-config>