<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>A55</office-code>
    <office-name>WOODRIDGE IL</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2></address-2>
    <address-3>7440 PROVIDENCE DR</address-3>
    <city>WOODRIDGE</city>
    <state>IL</state>
    <zip-code>60517</zip-code>
    <phone>(866) 303-2724</phone>
    <fax>(833) 950-2770</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>9237</socket-port>
    <local-input-path>source-code/ssa/il/woodridge/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/il/woodridge</output-dir>
</signal-processing-config>