<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>546</office-code>
    <office-name>JANESVILLE WI</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2></address-2>
    <address-3>222 N ACADEMY ST</address-3>
    <city>JANESVILLE</city>
    <state>WI</state>
    <zip-code>53548</zip-code>
    <phone>(877) 850-7826</phone>
    <fax>(833) 596-0597</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>9975</socket-port>
    <local-input-path>source-code/ssa/wi/janesville/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/wi/janesville</output-dir>
</signal-processing-config>