<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>553</office-code>
    <office-name>MARINETTE WI</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2></address-2>
    <address-3>2023 LAKE PARK DR</address-3>
    <city>MARINETTE</city>
    <state>WI</state>
    <zip-code>54143</zip-code>
    <phone>(888) 329-5722</phone>
    <fax>(833) 597-0058</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>9982</socket-port>
    <local-input-path>source-code/ssa/wi/marinette/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/wi/marinette</output-dir>
</signal-processing-config>