<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-name>Washington Post Office</office-name>
    <office-type>USPS</office-type>
    <county>Beaufort</county>
    <city>Washington</city>
    <zip-code>27889</zip-code>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>9054</socket-port>
    <local-input-path>source-code/postal/washington/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/postal/washington</output-dir>
</signal-processing-config>