<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>102</office-code>
    <office-name>ALBANY NY</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2>RM 430 FEDERAL BLDG</address-2>
    <address-3>11 A CLINTON AVE</address-3>
    <city>ALBANY</city>
    <state>NY</state>
    <zip-code>12207</zip-code>
    <phone>(866) 253-9183</phone>
    <fax>(833) 950-3603</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>9573</socket-port>
    <local-input-path>source-code/ssa/ny/albany/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/ny/albany</output-dir>
</signal-processing-config>