<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>173</office-code>
    <office-name>PATERSON NJ</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2>FIRST FLOOR</address-2>
    <address-3>200 FEDERAL PLZ</address-3>
    <city>PATERSON</city>
    <state>NJ</state>
    <zip-code>7505</zip-code>
    <phone>(888) 397-9806</phone>
    <fax>(833) 950-2976</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>9634</socket-port>
    <local-input-path>source-code/ssa/nj/paterson/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/nj/paterson</output-dir>
</signal-processing-config>