<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>52</office-code>
    <office-name>NORWOOD MA</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2>SUITE 102</address-2>
    <address-3>ONE EDGEWATER DRIVE</address-3>
    <city>NORWOOD</city>
    <state>MA</state>
    <zip-code>2062</zip-code>
    <phone>(866) 563-9533</phone>
    <fax>(833) 926-1860</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>9534</socket-port>
    <local-input-path>source-code/ssa/ma/norwood/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/ma/norwood</output-dir>
</signal-processing-config>