<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>589</office-code>
    <office-name>GREENWOOD SC</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2>STE C</address-2>
    <address-3>115 ENTERPRISE COURT</address-3>
    <city>GREENWOOD</city>
    <state>SC</state>
    <zip-code>29649</zip-code>
    <phone>(866) 739-4803</phone>
    <fax>(833) 950-2237</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>10013</socket-port>
    <local-input-path>source-code/ssa/sc/greenwood/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/sc/greenwood</output-dir>
</signal-processing-config>