<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>883</office-code>
    <office-name>PUEBLO CO</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2></address-2>
    <address-3>3769 PARKER BLVD</address-3>
    <city>PUEBLO</city>
    <state>CO</state>
    <zip-code>81008</zip-code>
    <phone>(888) 737-1761</phone>
    <fax>(833) 612-0148</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>10269</socket-port>
    <local-input-path>source-code/ssa/co/pueblo/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/co/pueblo</output-dir>
</signal-processing-config>