<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>C68</office-code>
    <office-name>NORWICH CT</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2>STE 380</address-2>
    <address-3>55 MAIN ST</address-3>
    <city>NORWICH</city>
    <state>CT</state>
    <zip-code>6360</zip-code>
    <phone>(888) 482-3170</phone>
    <fax>(833) 950-3262</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>9378</socket-port>
    <local-input-path>source-code/ssa/ct/norwich/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/ct/norwich</output-dir>
</signal-processing-config>