<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>112</office-code>
    <office-name>SOUTH BRONX NY</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2>3RD FLOOR</address-2>
    <address-3>820 CONCOURSE VILLAGE WEST</address-3>
    <city>BRONX</city>
    <state>NY</state>
    <zip-code>10451</zip-code>
    <phone>(855) 531-1684</phone>
    <fax>(833) 515-0473</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>9583</socket-port>
    <local-input-path>source-code/ssa/ny/bronx002/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/ny/bronx002</output-dir>
</signal-processing-config>