<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>843</office-code>
    <office-name>CORSICANA TX</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2></address-2>
    <address-3>221 S 45TH ST</address-3>
    <city>CORSICANA</city>
    <state>TX</state>
    <zip-code>75110</zip-code>
    <phone>(888) 456-9551</phone>
    <fax>(833) 950-2402</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>10234</socket-port>
    <local-input-path>source-code/ssa/tx/corsicana/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/tx/corsicana</output-dir>
</signal-processing-config>