<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>370</office-code>
    <office-name>ALPENA MI</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2></address-2>
    <address-3>111 N 4TH AVE</address-3>
    <city>ALPENA</city>
    <state>MI</state>
    <zip-code>49707</zip-code>
    <phone>(877) 452-4195</phone>
    <fax>(833) 950-2774</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>9817</socket-port>
    <local-input-path>source-code/ssa/mi/alpena/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/mi/alpena</output-dir>
</signal-processing-config>