<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>915</office-code>
    <office-name>SPOKANE WA</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2>SUITE 100</address-2>
    <address-3>714 N IRON BRIDGE WAY</address-3>
    <city>SPOKANE</city>
    <state>WA</state>
    <zip-code>99202</zip-code>
    <phone>(866) 331-5532</phone>
    <fax>(833) 950-2312</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>10298</socket-port>
    <local-input-path>source-code/ssa/wa/spokane/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/wa/spokane</output-dir>
</signal-processing-config>