<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>A31</office-code>
    <office-name>CAROLINA PR</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2>ESCORIAL SHOPPING CT</address-2>
    <address-3>5829 AVE 65INF STE 201</address-3>
    <city>CAROLINA</city>
    <state>PR</state>
    <zip-code>987</zip-code>
    <phone>(833) 882-1202</phone>
    <fax>(833) 950-2958</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>9219</socket-port>
    <local-input-path>source-code/ssa/pr/carolina/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/pr/carolina</output-dir>
</signal-processing-config>