flowboxchild.appearance-preview {
  border-radius: 9px;
}

box.appearance-preview {
  border-radius: 6px;
}

image.appearance-thumbnail {
  border-radius: 6px;
  background: linear-gradient(180deg, mix(@theme_selected_fg_color, @theme_selected_bg_color, 0.5) 30%, shade(@theme_selected_bg_color, 1.1) 100%);
}

flowboxchild.colors {
  border-radius: 9999px;
}

box.colors {
  border-radius: 9999px;
}

image.colors-thumbnail {
  border-radius: 9999px;
}
