<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-name>Raleigh Main Post Office</office-name>
    <office-type>USPS</office-type>
    <county>Wake</county>
    <city>Raleigh</city>
    <zip-code>27601</zip-code>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>9004</socket-port>
    <local-input-path>source-code/postal/raleigh002/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/postal/raleigh002</output-dir>
</signal-processing-config>