<?xml version="1.0" encoding="UTF-8" standalone="no"?><video-viewer analysis-enabled="false" audio-analysis-enabled="true" height="720" memory="768" progress-bar-color="#606060" title="Video Viewer" url="https://www.youtube.com/watch?v=EzxTGeJMC9w" visualizer-background="#f4f4f4" visualizer-bar-color="#404040" width="1280"/>