<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>317</office-code>
    <office-name>FAIRMONT WV</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2>SUITE 2120</address-2>
    <address-3>1000 TECHNOLOGY DR.</address-3>
    <city>FAIRMONT</city>
    <state>WV</state>
    <zip-code>26554</zip-code>
    <phone>(877) 405-7674</phone>
    <fax>(833) 950-2574</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>9767</socket-port>
    <local-input-path>source-code/ssa/wv/fairmont/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/wv/fairmont</output-dir>
</signal-processing-config>