<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>94</office-code>
    <office-name>ABINGDON MD</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2>3435A BOX HILL</address-2>
    <address-3>CORPORATE CENTER DR</address-3>
    <city>ABINGDON</city>
    <state>MD</state>
    <zip-code>21009</zip-code>
    <phone>(877) 701-2142</phone>
    <fax>(833) 371-0602</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>9565</socket-port>
    <local-input-path>source-code/ssa/md/abingdon/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/md/abingdon</output-dir>
</signal-processing-config>