<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>B31</office-code>
    <office-name>ADRIAN MI</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2>SUITE 2401</address-2>
    <address-3>1040 S WINTER ST</address-3>
    <city>ADRIAN</city>
    <state>MI</state>
    <zip-code>49221</zip-code>
    <phone>(877) 512-5943</phone>
    <fax>(833) 950-3401</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>9298</socket-port>
    <local-input-path>source-code/ssa/mi/adrian/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/mi/adrian</output-dir>
</signal-processing-config>