<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>577</office-code>
    <office-name>TULLAHOMA TN</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2></address-2>
    <address-3>717 KINGS LANE</address-3>
    <city>TULLAHOMA</city>
    <state>TN</state>
    <zip-code>37388</zip-code>
    <phone>(866) 635-0647</phone>
    <fax>(833) 905-2060</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>10001</socket-port>
    <local-input-path>source-code/ssa/tn/tullahoma/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/tn/tullahoma</output-dir>
</signal-processing-config>