<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>258</office-code>
    <office-name>LEESBURG FL</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2>SUITE 100</address-2>
    <address-3>900 N 14TH STREET</address-3>
    <city>LEESBURG</city>
    <state>FL</state>
    <zip-code>34748</zip-code>
    <phone>(866) 836-3623</phone>
    <fax>(833) 950-2206</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>9712</socket-port>
    <local-input-path>source-code/ssa/fl/leesburg/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/fl/leesburg</output-dir>
</signal-processing-config>