<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>B02</office-code>
    <office-name>CORINTH MS</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2></address-2>
    <address-3>1050 S. HARPER RD</address-3>
    <city>CORINTH</city>
    <state>MS</state>
    <zip-code>38834</zip-code>
    <phone>(866) 366-4921</phone>
    <fax>(833) 950-2822</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>9275</socket-port>
    <local-input-path>source-code/ssa/ms/corinth/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/ms/corinth</output-dir>
</signal-processing-config>