<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>464</office-code>
    <office-name>GARY IN</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2></address-2>
    <address-3>808 SOUTH LAKE STREET</address-3>
    <city>GARY</city>
    <state>IN</state>
    <zip-code>46403</zip-code>
    <phone>(866) 593-2911</phone>
    <fax>(833) 950-2140</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>9901</socket-port>
    <local-input-path>source-code/ssa/in/gary/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/in/gary</output-dir>
</signal-processing-config>