<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <kingdom>Animalia</kingdom>
    <phylum>Porifera</phylum>
    <subphylum></subphylum>
    <class-name>Demospongiae</class-name>
    <subclass></subclass>
    <order>Verongida</order>
    <suborder></suborder>
    <infraorder></infraorder>
    <family>Ianthellidae</family>
    <installer-tax-id>MEARVK-LLC-2026</installer-tax-id>
    <brand>Brarner.M.Alete</brand>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>11434</socket-port>
    <local-input-path>source-code/species/porifera/demospongiae/ianthellidae/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/BrarnerScience</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/species/porifera/demospongiae/ianthellidae</output-dir>
</signal-processing-config>