<?xml version="1.0" encoding="UTF-8"?>
<signal-processing-config>
    <office-code>522</office-code>
    <office-name>BLOOMINGDALE IL</office-name>
    <address-1>SOCIAL SECURITY</address-1>
    <address-2></address-2>
    <address-3>230 WEST LAKE STREET</address-3>
    <city>BLOOMINGDALE</city>
    <state>IL</state>
    <zip-code>60108</zip-code>
    <phone>(877) 845-1577</phone>
    <fax>(833) 950-3451</fax>

    <data-source>local</data-source>
    <data-output>both</data-output>
    <socket-host>localhost</socket-host>
    <socket-port>9956</socket-port>
    <local-input-path>source-code/ssa/il/bloomingdale/input.dat</local-input-path>
    <db-url>jdbc:mysql://localhost:3306/Science</db-url>
    <db-user>root</db-user>
    <db-pass></db-pass>
    <output-dir>output/ssa/il/bloomingdale</output-dir>
</signal-processing-config>